<div class="container">

    <app-layer-notation class="row" *ngFor="let layer of layers" [layer]="layer"></app-layer-notation>

    <div #combinedNotation></div>

    <!--<app-layer-notation class="row" *ngFor="let subject of layerObservables" [observable]="subject"></app-layer-notation>-->

  <div class="row">

    <!--<form class="form-inline" action="#">-->
        <!--&lt;!&ndash;<label for="bpm" class="col-2 col-form-label">BPM</label>&ndash;&gt;-->
        <!--<div class="col-10">-->
          <!--<input class="form-control" type="number" [formControl]="bpm">-->
          <label>Tempo:</label>
          <input type="range" min="10" max="200" class="slider" [formControl]="bpm" (ngModelChange)="updateTempo()">
          <label>{{ bpm.value }} BPM</label>
          <!--&lt;!&ndash;<input class="form-control" type="number" value="" id="bpm">&ndash;&gt;-->
        <!--</div>-->

    <button type="button" class="btn btn-primary" placement="top" ngbTooltip="Toggle playback" (click)="togglePlayback()">
      <div [ngSwitch]="playbackStatus">
        <i class="fas fa-stop" *ngSwitchCase="true"></i>
        <i class="fas fa-play" *ngSwitchCase="false"></i>
        <i class="fas fa-play" *ngSwitchDefault></i>
      </div>
    </button>
    <!--</form>-->

  </div>
  <app-layer class="row" *ngFor="let layer of layers" [isMutable]="!playbackStatus" [layer]="layer"></app-layer>
</div>

<!--<div class="container">-->

  <!--<app-layer class="row" [layer]="{time: {upper:7, lower: 8}, bars: [{index: 1, beats:[1,0,1,0,1,0,1]}, {index: 2, beats:[1,0,1,0,1,0,1]}]}"></app-layer>-->

  <!--<div class="row">-->
      <!--<div class="col">-->
            <!--<app-bar [bar]="{index: 1, beats:[1,0,1,0,1,0,1]}"></app-bar>-->
              <!--&lt;!&ndash;1 of 2&ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash;<app-beat></app-beat>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-beat [index="1"] [state="2"]></app-beat>&ndash;&gt;-->
    <!--<div class="col">-->
      <!--<app-bar [bar]="{index: 1, beats:[1,0,1,0,1,0,1]}"></app-bar>-->

      <!--&lt;!&ndash;2 of 2&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col">-->
      <!--<app-bar [bar]="{index: 1, beats:[2,1,1]}"></app-bar>-->
      <!--&lt;!&ndash;<div class="d-flex">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="flex-fill">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="btn-group mr-2" role="group" aria-label="">&ndash;&gt;-->
              <!--&lt;!&ndash;<button type="button" class="btn btn-lg btn-outline-secondary">A</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="flex-fill">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="btn-group mr-2" role="group" aria-label="">&ndash;&gt;-->
              <!--&lt;!&ndash;<button type="button" class="flex-fill btn btn-lg btn-outline-secondary">B</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="flex-fill">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="btn-group mr-2" role="group" aria-label="">&ndash;&gt;-->
              <!--&lt;!&ndash;<button type="button" class="flex-fill btn btn-lg btn-outline-secondary">C</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;1 of 3&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col">-->
      <!--<app-bar [bar]="{index: 2, beats:[2,1,1]}"></app-bar>-->
      <!--&lt;!&ndash;2 of 3&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col">-->
            <!--<app-bar [bar]="{index: 3, beats:[2,1,1]}"></app-bar>-->
      <!--&lt;!&ndash;3 of 3&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
