<div class="form-inline">
 <label class="sr-only" for="beats">Time</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">{{ time.upper }}/{{ time.lower }}</div>
    </div>
    <input type="number" class="form-control" id="beats" min="1" max="17" [disabled]="disabled" (ngModelChange)="valueChange($event)" [(ngModel)]="time.upper">
    <app-note-length-chooser (changed)="setLower($event)" [duration]="time.lower" [choices]="[2,4,8]"></app-note-length-chooser>
  </div>
</div>
