<div ngbDropdown class="btn-group">
  <button ngbDropdownToggle type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <!--<div ngClass="single-note" #quarter></div>Quarter-->
    <app-single-note [duration]="duration" [label]="duration"></app-single-note>
    <span class="glyphicon glyphicon-chevron-down"></span>
  </button>
  <ul ngbDropdownMenu class="dropdown-menu">
    <!--<li ngClass="dropdown-header">Beat duration</li>-->

  <li *ngFor="let choice of choices">
    <button [ngClass]="dropdown-item" >
      <app-single-note [duration]=choice [label]=choice (click)="setChoice(choice)"></app-single-note>
    </button>
  </li>
  </ul>
</div>
